*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-color-background: #16213E;
    --light-color-background: #EFF4FA;
    --light-datatable-color: #FFFFFF;
    --light-switch-background-color: #FFFFFF;
    --dark-text-color: #000000;
    --light-text-color: #FFFFFFFF;
}

body{
    background-color:var(--light-color-background);
}

.switch-container{
    background-color: var(--dark-color-background);
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60px;
    height: 32px;
    margin-top: .5em;
    margin-left: .2em;
    position: relative;
}

.switch-container .switch-item{
    position: relative;
    top: 45%;
    transform: translate(15%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: var(--light-switch-background-color);
    border: 1px solid transparent;
    transition: .5s all ease;
}

.switch-item figure svg{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    fill: #000000;
}

#sun{
    display: none;
}

#sun svg{
    height: 18px;
}

.ligthMode{
    background-color: var(--light-color-background);
}

.darkMode{
    background-color: var(--dark-color-background);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.crypto-list{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 530px;
    margin: 0 auto;
    background-color: var(--light-datatable-color);
    border-radius: 1%;
}

.crypto-list #search-header{
    border-bottom: .5px solid rgb(247, 246, 246);
    padding: 1em;
}

.crypto-list #search-header input{
    width: 25%;
    height: 100%;
    padding: .65em;
    background-color: var(--light-color-background);
    border: none;
    border-radius: .2em;
}

.crypto-list #table-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.crypto-list #table-content table{
    border-collapse: collapse;
    width: 100%;
}

.crypto-list #table-content table th{
    border-bottom: .5px solid rgb(247, 246, 246);
}

.crypto-list #table-content table th, td{
    padding: .5em;
    text-align: center;
}

.crypto-list #table-content table tr:nth-child(2n){
    background-color: var(--light-color-background);
}

.actionIcon{
    width: 20px;
}